<!doctype html>
<html>
    <head lang="en">
        <script
			  src="http://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
        <script type="text/javascript" src="./js/index.js"></script>
        <link rel="stylesheet" href="./css/toggle.css"></link>
        <link rel="stylesheet" href="./css/rating.css"></link>
    </head>
    <body>
        <nav>
            {{> nav}}
            <select>
                <option value="s1">style 1</option>
                <option value="s2">style 2</option>
            </select>
        </nav>
        {{> content}}
    </body>
</html>