<!doctype html>
<html>
    <head lang="en">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
        <link rel="stylesheet" href="/css/base.css"/>
    </head>
    <body>
        <nav>
            {{> nav}}
        </nav>
        <main>
        {{> content}}
        </main>
    </body>
</html>