<!doctype html>
<html>
    <head lang="en">
        <meta charset="utf-8" />
        <script
			  src="http://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/index.js"></script>
        <link rel="stylesheet" href="/css/toggle.css"/>
        <link rel="stylesheet" href="/css/rating.css"/>
    </head>
    <body>
        <nav>
            {{> nav}}
        </nav>
        {{> content}}
    </body>
</html>