{{#> layout}}
    {{#*inline "nav"}}
        <a class="button invert" href="/notes">Back to list</a>
    {{/inline}}
    {{#*inline "content"}}
        <form action="/notes/add" method="post">
            {{> noteForm}}
            <p><input type="submit" value="Create Note"/></p>
        </form>
    {{/inline}}
{{/layout}}
