{{#> layout}}
    {{#*inline "nav"}}
        <a href="/notes">Back to list</a>
    {{/inline}}
    {{#*inline "content"}}
        {{> noteForm}}
        <button>Save edited Item</button>
    {{/inline}}
{{/layout}}
