{{#> layout}}
    {{#*inline "nav"}}
        <a href="notes/add">New Note</a>
    {{/inline}}
    {{#*inline "content"}}
        <div class="order">
            <button>By finish Date</button>
            <button>By created Date</button>
            <button>By Importance</button>
            <div class="toggle-button">
                Show finished <button></button>
            </div>
        </div>
        <div>
            {{#each notes}}
                {{> note }}
            {{else}}
                <a href="notes/add">Be the first one to add a note!</a>
            {{/each}}
        </div>
    {{/inline}}
{{/layout}}
