{{#> layout}}
    {{#*inline "nav"}}
        <a class="button invert" href="notes/add">New Note</a>
        <span>
            <form action="/" method="POST">
                <select class="invert">
                    <option selected>Red</option>
                    <option>Dark</option>
                    <option>Bad Taste</option>
                </select>
                <input class="invert" type="submit" value="Switch Theme" />
            </form>
        </span>
    {{/inline}}
    {{#*inline "content"}}
        <div class="order">
            <form action='/notes' method='get' class="btn-sort">
                <input type="hidden" name="sorting" value="dueDate">
                <input type="submit" value="By finish date" {{#if_eq sortBy 'dueDate'}} class="activeFilter"{{/if_eq}} >
            </form>
            <form action='/notes' method='get' class="btn-sort">
                <input type="hidden" name="sorting" value="createdDate">
                <input type="submit" value="By created date" {{#if_eq sortBy 'createdDate'}} class="activeFilter"{{/if_eq}}>
            </form>
            <form action='/notes' method='get' class="btn-sort">
                <input type="hidden" name="sorting" value="importance"{{#if_eq sortBy 'importance'}} class="activeFilter"{{/if_eq}}>
                <input type="submit" value="By importance" >
            </form>
            <form action='/notes' method='get' class="btn-sort">
                <input type="hidden" name="style" value="{{#if_eq style 'light'}}dark{{else}}light{{/if_eq}}">
                <input type="submit" value="switch style">
            </form>
            <form action='/notes' method='get' class="btn-sort">
                <input type="hidden" name="showFinished" value="{{#if_eq showFinished 'true'}}false{{else}}true{{/if_eq}}">
                <input type="submit" value="Show Finished">
            </form>
            <div class="toggle">
                <input type="checkbox" id="cboShowFinished" checked> <label for="cboShowFinished">Show finished</label>
            </div>
        </div>
        <div class="notes">
            {{#each notes}}
                {{> note }}
            {{else}}
                <div class="noNotesFound">
                    <a class="button" href="notes/add">No notes found! Be the first one to add a note!</a>
                </div>
            {{/each}}
        </div>
    {{/inline}}
{{/layout}}
