@import '_constants.scss';
@import 'helpers/_vendor-prefix.scss';
@import 'components/_rating.scss';
@import 'components/_forms.scss';
@import 'components/_navigation.scss';

body {
    padding: 0;
    margin: 0;
    font-family: 'Handlee', cursive;
    background-color: $baseColor;
    color: $invertedBaseColor;
    font-size: 0.8em;
    > * {
        padding: $outline;
    }
}

a {
    text-decoration: none;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    @include vendor-prefix('hyphens', 'auto');
}

.noNotesFound {
    display: flex;
    > a {
        text-align: center;
        padding: 2rem;
        margin: 0.3rem;
        flex: 1 1 auto;
    }
}

.formRow {
    display: flex;
    flex-direction: column;

    margin: 5px;

    label {
        order: -1;
        line-height: 23px;
    }

    input[type=text], input[type=date], textarea, select {
        width: 100%;
    }

    input:disabled, textarea:disabled, select:disabled {
        opacity: 0.5;
    }

    select:required:not(:disabled) + label:after,
    textarea:required:not(:disabled) + label:after,
    input:required:not(:disabled) + label:after {
        content: ' (*)';
        color: red;
    }

    select:required:valid:not(:disabled) + label:after,
    textarea:required:valid:not(:disabled) + label:after,
    input:required:valid:not(:disabled) + label:after { 
        content: ' \2714';
        color: green;
    }
}

.order {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
    }
    input {
        flex: 1 1 auto;
        margin: 0.3rem;
    }

    .activeFilter {
        background-color: $primaryColor;
        color: $baseColor;
        font-weight: bold;
    }
}

.note {
    border-top: 0.1rem dotted $primaryColor;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    > * {
        min-width: 110px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0.2rem !important;
    }
    p.caps {
        font-size: 1.5em;
        font-variant: small-caps;
    }
    p.caps, p.newline {
        margin-right: auto;
        width: 100%;
    }
}

.note:first-child {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 0.1rem solid $primaryColor;
}

.errorDisplay {
    label{
        padding-right: 10px;
        color:red;
        font-size: 18px;
    }
}

@media screen and (min-width: $desktopMinWidth) {
    .order {
        display: flex;
        flex-direction: row;
    }

    .note {
        flex-direction: row;
        > p.caps {
            width: auto;
        }
    }

    .formRow {
        flex-direction: row;

        > label {
            width: 33%;
        }

        input[type=text], input[type=date], textarea, select {
            width: 50%;
        }
    }
}