@import '_constants.scss';
@import 'helpers/_vendor-prefix.scss';
@import 'components/_rating.scss';
@import 'components/_forms.scss';
@import 'components/_navigation.scss';

body {
    padding: 0;
    margin: 0;
    font-family: 'Handlee', cursive;
    background-color: $baseColor;
    color: $invertedBaseColor;
    font-size: 0.8em;
    > * {
        padding: $outline;
    }
}

a {
    text-decoration: none;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    @include vendor-prefix('hyphens', 'auto');
}

.noNotesFound {
    position: absolute;
    top: 10rem;
}

.formRow {
    display: block;
    clear: left;
    margin: 5px;
    > * {
        display: block;
        clear: both;
    }
    input[type=text], input[type=date], textarea, select {
        width: 100%;
        &:valid {
            border: 1px solid green;
        }
    }
    > label {
        &:after {
            content: ' *';
            color: $primaryColor;
        }
    }
}

.order {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
    }
    input {
        flex: 1 1 auto;
        margin: 0.3rem;
    }

    .activeFilter {
        background-color: $primaryColor;
        color: $baseColor;
        font-weight: bold;
    }
}

.note {
    border-top: 0.1rem dotted $primaryColor;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    > * {
        margin-left: 0.2rem !important;
    }
    > p.caps {
        font-variant: small-caps;
    }
    > p.caps, > p.newline {
        margin-right: auto;
        width: 100%;
    }
}

.note:first-child {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 0.1rem solid $primaryColor;
}

@media screen and (min-width: $desktopMinWidth) {
    .order {
        display: flex;
        flex-direction: row;
    }

    .note > p {
        width: auto;
    }

    .formRow {
        > * {
            display: inline-block;
        }
        > label {
            width: 33%;
        }
        input[type=text], input[type=date], textarea, select {
            width: 50%;
        }
    }
}