$levels: (
    1: lightgoldenrodyellow,
    2: gold,
    3: darkorange,
    4: tomato,
    5: darkred
);

@each $level, $color in $levels {
    .rating > input:checked ~ .imp#{$level},
    .rating:not(:checked) > .imp#{$level}:hover,
    .rating:not(:checked) > .imp#{$level}:hover ~ .imp#{$level} {
        color: $color;
    }
}

.rating:not(:checked) {
    > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    > label {
        float:right;
        width:0.4em;
        padding:0 .1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:200%;
        line-height:1.2;
        color:#ddd;
        text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }

    > label:before {
        content: '! ';
    }
}

