.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl; }
  .rating * {
    margin: 0;
    padding: 0; }
  .rating input {
    display: none; }
    .rating input:checked ~ label {
      color: #f02541; }
  .rating label {
    color: #ccc; }
    .rating label:hover, .rating label:hover ~ label {
      color: #f04455; }
    .rating label:before {
      display: inline-block;
      content: "!";
      width: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 18px;
      font-weight: 900;
      cursor: pointer; }
