.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl; }
  .rating * {
    margin: 0;
    padding: 0; }
  .rating input {
    display: none; }
    .rating input:checked ~ label {
      color: #AAAAAA; }
  .rating label {
    color: #ccc; }
    .rating label:hover, .rating label:hover ~ label {
      color: #DDDDDD; }
    .rating label:before {
      display: inline-block;
      content: "!";
      width: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 1em;
      font-weight: 900;
      cursor: pointer; }

button, select, input, textarea, a.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-family: 'Handlee', cursive;
  box-sizing: border-box;
  font-size: 0.8em;
  border: 1px solid #AAAAAA;
  border-radius: 1px;
  color: #AAAAAA;
  background-color: #000000;
  cursor: pointer;
  padding: 1px 4px 1px 4px;
  margin: 0;
  line-height: 1.8em;
  height: 1.8em; }
  button:hover, select:hover, input:hover, textarea:hover, a.button:hover {
    background-color: #333333;
    font-weight: bold;
    cursor: pointer; }
  button:active, select:active, input:active, textarea:active, a.button:active {
    cursor: text; }
  button:focus, button:active, select:focus, select:active, input:focus, input:active, textarea:focus, textarea:active, a.button:focus, a.button:active {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  button.invert, select.invert, input.invert, textarea.invert, a.button.invert {
    color: #000000;
    background-color: #AAAAAA;
    border-color: #000000; }
    button.invert:hover, select.invert:hover, input.invert:hover, textarea.invert:hover, a.button.invert:hover {
      background-color: #DDDDDD; }

select {
  overflow: hidden;
  padding-right: 1.8em;
  background-image: linear-gradient(45deg, transparent 50%, #AAAAAA 50%), linear-gradient(135deg, #AAAAAA 50%, transparent 50%);
  background-position: calc(100% - 10px) 0.6em, calc(100% - 5px) 0.6em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat; }
  select.invert {
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%), linear-gradient(135deg, #000000 50%, transparent 50%); }

select::-ms-expand {
  display: none; }

input[type=checkbox] {
  width: 11px;
  height: 11px;
  padding: 0;
  background-color: #000000;
  outline: 0;
  border: 1px solid #AAAAAA;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  input[type=checkbox]:focus, input[type=checkbox]:active {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  input[type=checkbox]:checked {
    text-align: center;
    line-height: 15px; }
    input[type=checkbox]:checked:checked:before {
      content: '\2714'; }

nav form {
  display: flex; }

textarea {
  resize: vertical;
  overflow-y: auto;
  min-height: 4em; }

nav {
  background-color: #AAAAAA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  margin: 0;
  padding: 0.5rem; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Handlee', cursive;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 0.8em; }
  body > * {
    padding: 0.5rem; }

a {
  text-decoration: none; }

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }

.noNotesFound {
  display: flex; }
  .noNotesFound > a {
    text-align: center;
    padding: 2rem;
    margin: 0.3rem;
    flex: 1 1 auto; }

.formRow {
  display: flex;
  flex-direction: column;
  margin: 5px; }
  .formRow label {
    order: -1;
    line-height: 23px; }
  .formRow input[type=text], .formRow input[type=date], .formRow textarea, .formRow select {
    width: 100%; }
  .formRow input:disabled, .formRow textarea:disabled, .formRow select:disabled {
    opacity: 0.5; }
  .formRow select:required:not(:disabled) + label:after,
  .formRow textarea:required:not(:disabled) + label:after,
  .formRow input:required:not(:disabled) + label:after {
    content: ' (*)';
    color: red; }
  .formRow select:required:valid:not(:disabled) + label:after,
  .formRow textarea:required:valid:not(:disabled) + label:after,
  .formRow input:required:valid:not(:disabled) + label:after {
    content: ' \2714';
    color: green; }

.order {
  display: flex;
  flex-direction: column; }
  .order form {
    display: flex; }
  .order input {
    flex: 1 1 auto;
    margin: 0.3rem; }
  .order .activeFilter {
    background-color: #AAAAAA;
    color: #000000;
    font-weight: bold; }

.note {
  border-top: 0.1rem dotted #AAAAAA;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between; }
  .note > * {
    min-width: 110px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0.2rem !important; }
  .note p.caps {
    font-size: 1.5em;
    font-variant: small-caps; }
  .note p.caps, .note p.newline {
    margin-right: auto;
    width: 100%; }

.note:first-child {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 0.1rem solid #AAAAAA; }

@media screen and (min-width: 25em) {
  .order {
    display: flex;
    flex-direction: row; }
  .note {
    flex-direction: row; }
    .note > p.caps {
      width: auto; }
  .formRow {
    flex-direction: row; }
    .formRow > label {
      width: 33%; }
    .formRow input[type=text], .formRow input[type=date], .formRow textarea, .formRow select {
      width: 50%; } }
